@charset "UTF-8";
body.scroll-prevent {
  overflow: hidden;
}

.drawer-hamburger {
  width: 1.6rem;
}

.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  top: -8px;
}

.drawer-hamburger-icon:after {
  top: 8px;
}

header {
  height: 65px;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}
header .header-info dl.m-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-info dl.m-number dt {
  font-size: 11px;
  font-weight: normal;
}
header .header-info dl.m-number dd {
  font-weight: bold;
  font-size: 11px;
}
header .header-info .user-name {
  font-size: 14px;
}
header .header-info .user-name::after {
  content: "様";
  margin-left: 5px;
}
header a.version-down {
  border: 1px solid #324159;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  font-weight: bold;
  padding: 0 10px;
  margin-right: 20px;
}

.container {
  background: #f7f7f7;
}

main {
  /* padding: 30px 20px; */
  margin-top: 0;
  padding: 45px
}

footer {
  background: #f7f7f7;
  padding: 10px;
  border-top: 1px solid #e6e6e6;
}
footer small {
  font-size: 12px;
  text-align: center;
  color: #919191;
  display: block;
}

#hm {
  display: inline-block;
  position: fixed;
  left: 0;
  top: 0;
  width: 65px;
  height: 65px;
  vertical-align: middle;
  text-align: center;
  z-index: 100;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#hm.open {
  left: 245px;
}

#hm-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 45%;
  width: 24px;
  height: 2px;
  margin: -1px 0 0 -9px;
  background: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#hm-icon:before,
#hm-icon:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 2px;
  background: #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#hm-icon:before {
  margin-top: -8px;
}

#hm-icon:after {
  margin-top: 6px;
}

#hm .close {
  background: transparent;
}

#hm .close:before,
#hm .close:after {
  margin-top: 0;
}

#hm .close:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#hm .close:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

nav.drawer-nav {
  background: #5da0a3;
  position: fixed;
  min-height: 100%;
  width: 244px;
  left: -244px;
  top: 0;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
nav.drawer-nav.open {
  left: 0;
}
nav.drawer-nav .logo {
  background: #152743;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  padding: 0 20px;
}
nav.drawer-nav .logo img {
  width: 114px;
  vertical-align: top;
}
nav.drawer-nav .drawer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
nav.drawer-nav ul.navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  height: 100%;
}
nav.drawer-nav ul.navigation li {
  position: relative;
}
nav.drawer-nav ul.navigation li .counter {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #3376bc;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  width: 3em;
  height: 20px;
  text-align: center;
  border-radius: 10px;
}
nav.drawer-nav ul.navigation li a {
  color: #c3c3c3;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
  font-weight: bold;
}
nav.drawer-nav ul.navigation li a span {
  line-height: 1;
}
nav.drawer-nav ul.navigation li .material-icons-outlined {
  font-size: 18px;
  margin-right: 5px;
}
nav.drawer-nav ul.navigation li.current a {
  background: #5FCB8C !important;
  color: #fff;
}

.card.home-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card.home-info .icon {
  width: 60px;
  margin-left: 10px;
  margin-right: 20px;
}
.card.home-info .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}
.card.home-info .count {
  font-weight: bold;
  font-family: arial;
  font-size: 47px;
  line-height: 1;
}
.card.home-info .count span {
  font-size: 26px;
  font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  margin-left: 3px;
}
.card.home-info .tx {
  font-weight: bold;
  font-size: 15px;
  line-height: 1;
  margin-top: 5px;
}
.card.home-info ul.plan {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 6px 1fr 6px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6px;
}
.card.home-info ul.plan li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 2em;
  border: 1px solid #3376bc;
  color: #3376bc;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
  line-height: 1.2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap-home-info .box {
  margin-bottom: 30px;
}

.beta button {
  margin-top: 10px;
}

.drawer-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.drawer-overlay.show {
  display: block;
}

.wrap-headline-col2 {
  margin-bottom: 20px;
}
.wrap-headline-col2 a.textlink {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.wrap-headline-col2 .wrap-search {
  margin-top: 20px;
}

.parent-file-add input {
  display: block;
  margin-bottom: 10px;
}

#inline-contactForm .inner {
  padding: 20px;
}

/**********************************************************************

 * Media Query For PC

 ***********************************************************************/
@media print, screen and (min-width: 767px) {
  html,
body {
    height: 100%;
  }

  .wrapper {
    min-height: 100%;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
  }
  .wrapper main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper .container {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
    position: relative;
  }
  .wrapper .container footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  nav.drawer-nav {
    width: 265px;
  }
  nav.drawer-nav .logo {
    height: 80px;
  }
  nav.drawer-nav ul.navigation li a:hover {
    color: #fff;
    background: #152743;
  }

  header {
    height: 80px;
    position: static;
  }
  header .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px;
  }
  header .header-info dl.m-number {
    margin-right: 10px;
  }
  header .header-info dl.m-number dt {
    font-size: 14px;
  }
  header .header-info dl.m-number dd {
    font-size: 14px;
  }
  header .header-info .user-name {
    font-size: 14px;
  }
  header .header-info .user-name::after {
    content: "様";
    margin-left: 5px;
  }
  header a.version-down {
    border-radius: 18px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding: 0 20px;
    margin-right: 20px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header a.version-down:hover {
    background: #324159;
    color: #fff;
  }

  main {
    margin-top: 0;
    padding: 45px;
  }
  main .inner-main {
    max-width: 1220px;
  }

  footer {
    padding: 15px 40px;
  }
  footer small {
    font-size: 12px;
    text-align: left;
  }

  .card.home-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
  .card.home-info .icon {
    width: 60px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .card.home-info .right {
    -webkit-box-flex: 1;
        -ms-flex: 1 auto;
            flex: 1 auto;
  }
  .card.home-info .count {
    font-weight: bold;
    font-family: arial;
    font-size: 47px;
    line-height: 1;
  }
  .card.home-info .count span {
    font-size: 26px;
    font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
  }
  .card.home-info .tx {
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    margin-top: 5px;
  }
  .card.home-info ul.plan li {
    min-height: 2em;
    border: 1px solid #3376bc;
    color: #3376bc;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    text-align: center;
    line-height: 1.2;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card.home-info ul.plan li:nth-child(-n+3) {
    margin-top: 0;
  }

  .wrap-home-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .wrap-home-info .box {
    margin-bottom: 30px;
  }

  .beta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .beta button {
    margin-top: 0;
    margin-left: 20px;
  }

  .arrival-box-address .postal {
    -ms-flex-preferred-size: 180px;
        flex-basis: 180px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-address .address {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .arrival-box-address .oversea {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .arrival-box-item .name {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .arrival-box-item .num {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .arrival-box-item .quantity {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-item .new {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-item .photo {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-item .delete {
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .arrival-box-list .m-id {
    -ms-flex-preferred-size: 90px;
        flex-basis: 90px;
  }
  .arrival-box-list .name {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .arrival-box-list .num {
    -ms-flex-preferred-size: 120px;
        flex-basis: 120px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-list .quantity {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-list .new {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-list .photo {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .arrival-box-list .delete {
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .wrap-headline-col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap-headline-col2 h1.hstyle-primary {
    margin-bottom: 0;
  }
  .wrap-headline-col2 .func {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrap-headline-col2 a.textlink:hover {
    text-decoration: underline;
  }
  .wrap-headline-col2 .wrap-search {
    margin-top: 0;
    margin-left: 20px;
  }

  #inline-contactForm .inner {
    padding: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  main {
    padding: 30px;
  }

  .card {
    padding: 30px;
  }

  ul.table-list .table-col {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  nav.drawer-nav ul.navigation li a {
    font-size: 13px;
    padding: 15px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1300px) {
  .wrapper nav.drawer-nav {
    width: 200px;
  }

  #hm.open {
    left: 200px;
  }

  .wrap-home-info {
    grid-gap: 10px;
  }

  .card.home-info .icon {
    width: 40px;
    margin-left: 0;
    margin-right: 10px;
  }

  .card.home-info .count {
    font-size: 42px;
  }

  .card.home-info ul.plan li {
    font-size: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .wrap-hm {
    display: none;
  }

  nav.drawer-nav {
    left: 0;
    position: static;
  }
}
